/* || General styles */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 400px;
  font-size: 14px;
  font-family: arial,sans-serif;

}

body {

}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto -60px;
}

/* || Logo */

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 290px;

}


.logo {

  width: 272px;
  height: 92px;
  object-position: center bottom;
  width: auto;
  padding: 20px;

}

.images {
  color: #4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif;
  position: relative;
  left: 215px;
  top: 76px;
  white-space: nowrap;
}

.images-logo {
  background-size: 272px 92px;
  height: 92px;
  width: 272px;
  background: url("../assets/googlelogo.png") no-repeat;
  margin-bottom: 20px;
}



/* || Typography */

a {
  color: rgba(0,0,0,0.87);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



/* || Header and Main Navigation */

header {
  margin: 15px;
  padding: 8px;

}


nav ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 1%;

}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;

}

li > a {
  padding: 7px;
}



/* || Search */


.searchbar {

  display: flex;
  margin: 0 auto;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  height: 44px;
  width: 75%;
  max-width: 584px;
  padding-left: 20px;


}

.searchbar:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  border-color: rgba(223,225,229,0);
}

.search-input {
    outline: none;
    width: 100%;
    border:none;
    border-radius: 25px;

}

.icon-contain {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.looking-glass {
  width: 20px;
  height: 20px;
  position: absolute;
  display: inline-block;
  fill: #9aa0a6;

}

svg {
  height: 100%;
  width: 100%;
}

.material-icons {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  width: 20px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 18px;
}

.search-buttons {
  min-width: 54px;
  height: 36px;
  background-color: #f8f9fa;
  border: 1px solid transparent;
  border: 0px;
  border-radius: 5px;
  margin: 11px 4px;
  padding: 0 16px;
 color: #3c4043;
  font-size: 14px;
}

.search-buttons:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;


}

/* ||  Footer   */

footer {
  border-top: 1px solid #dadce0;
  background-color: rgb(242, 242, 242);
  position: fixed;
  flex-wrap: wrap;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;;
  padding: 0 20px;


}

.footer-links {
  color:  #70757a;
  display: block;
  padding: 15px;

}

.footer-left {
  display: flex;
  justify-content: flex-start;



}

.footer-right {
  display: flex;
  justify-content: flex-end;
}

/* || Advanced Search  */

.header-advanced {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.logo-advanced {
  padding-right: 30px;
}

.logo-advanced:before {

    content: url(https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg);
    display: inline-block;
    height: 24px;
    width: 74px;

}

.advanced-title {
  color: #d93025;
  font-size: 20px;
  font-weight: normal;
  margin: 25px 35px 0px;
  padding-bottom: 25px;

}

.nav-advanced {
  grid-column-start: 3;
}

.advanced_search {

  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 25px 2% 0 45px;


}

.advanced_search_form {
  margin-top: 25px;
  grid-template-columns: 25% 50% 25%;

}

label {

  display: inline-block;
  float: left;
  clear: left;
  width: 25%;
  text-align: left;


}

.adv_textinput {
  display: inline-block;
  float: left;

  margin: 8px 1px;
  width: 50%;
  text-align: left;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}

.adv_info {
  float: left;
  display: inline-block;
  width: 32%;
  min-width: 160px;
  margin: 0 0 8px 1%;
  color: #555;
  font-size: 11px;
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
}

.advanced-line {
  margin: 18px 0;
  clear: both;
  border-top: 1px solid #ebebeb;

}

.advanced_button {
  padding: 0 12px;
  margin: 10px 0;
  font-size: 11px;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid #2f5bb7;
  box-shadow: none;
  background-color: #4d90fe;
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  border: 1px solid #3079ed;
  color: #fff;

}

.advanced_button:hover {
  background-color: #357ae8;
  background-image: linear-gradient(top,#4d90fe,#357ae8);
  border: 1px solid #2f5bb7;
  border-image: initial;
}

.advanced_span {
 display: inline-block;
  min-width: 167px;
  width: 16%;
  font-size: 16px;
  min-height: 42px;
  font-weight: 500;
  color: #333;


}




/* ||  */
